Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
# Create list with above no. elements
my_list=['4','8','15','16','23','42']
# Convert List into pandas Series
my_series=pd.Series(my_list)
# print the resulting series
print(my_series)
# print the type of resulting series
print(type(my_series))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object
<class 'pandas.core.series.Series'>

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [22]:
# Create list with 10 elements
my_list=[1,2,3,4,5,6,7,8,9,10]
# Convert List into pandas Series
my_series=pd.Series(my_list)
# print the resulting series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data

In [ ]:
import pandas as pd
d={'name':['Alice','Bob','Claire'],
    'Age':['25','30','27'],
    'Gender':['Female','Male','Female']}
print(d)
df1=pd.DataFrame(d)
print(df1)
print(type(df1))

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
Ans:-
It is the tabular structured data.DataFrame is nothing but record means (rows & columns).

     name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female
dtype: object
<class 'pandas.core.frame.DataFrame'>

Series is also tabular structured but it is list
0     4
1     8
2    15
3    16
4    23
5    42
dtype: object
<class 'pandas.core.series.Series'>

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [5]:
import pandas as pd

In [12]:
df=pd.read_csv('Iris.csv')
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [16]:
df.value_counts()

Id   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
1    5.1            3.5           1.4            0.2           Iris-setosa        1
95   5.6            2.7           4.2            1.3           Iris-versicolor    1
97   5.7            2.9           4.2            1.3           Iris-versicolor    1
98   6.2            2.9           4.3            1.3           Iris-versicolor    1
99   5.1            2.5           3.0            1.1           Iris-versicolor    1
                                                                                 ..
51   7.0            3.2           4.7            1.4           Iris-versicolor    1
52   6.4            3.2           4.5            1.5           Iris-versicolor    1
53   6.9            3.1           4.9            1.5           Iris-versicolor    1
54   5.5            2.3           4.0            1.3           Iris-versicolor    1
150  5.9            3.0           5.1            1.8           Iris-virginica     1
Length: 150, dtype: int64

In [13]:
df.tail(2)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

functions we can use to manipulate data in a Pandas DataFrame
i.read_csv
ii.head(),tail()
iii.isnull().sum()/isnull.fillna()
iv.describe()
v.info()
vi.value_counts()
vii.drop()
viii.rename()
x.dropna()
----etc.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Ans:-
Series-->1-dimentional array .Mutuable in nature.
Dataframe--->2-dimentional array.Mutuable in nature.
Panel---->3-dimentional array .mutuable  in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
d={'name':['Sameer','Rahil','John'],
   'Age':['22','23','26'],
   'Job':['Data Scientist','Machine Learning Engineer','Software Engineer']}
df1=pd.DataFrame(d)
print(df1)

     name Age                        Job
0  Sameer  22             Data Scientist
1   Rahil  23  Machine Learning Engineer
2    John  26          Software Engineer